eureka:
  instance:
    preferIpAddress: true
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

jwt:
  header: Authorization
  publicKey: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAkaO08F3awh8b/IyjBHURUbY7HKlP0H8kmbI9bdMrTRgbFrsvzhZfHj5OTbzpkcivGwC75zcRVXuLJe298dUJj6oyt3FKQBM/iMxC0VlemqOwGlSNAMN7mtpcHdYw/12T6D2IP7s9uWA6GeU3w3KiiEWxPXftClNOMJXpvh355CJCdzj4tdELLLXYigB5oK0FI1wFjaM9lynLCX8NPJ51cPdOiiInoSdyYx0qQuhixcyh8j3mVi4kaqZt5MlMsWxfvQQ6MhvwTi1WCL6iDXqh7MW6TQP9gbHbQ3XNch+iA4pAe2EaQRsE9+jicydP+RzX9U5ajnXLPBUO82B89gH1fwIDAQAB
  
wicar:
  url: http://localhost:9020
